/* NotFoundPage.css */

.notfound-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 50px;
}

.home-link {
    margin-top: 20px;
    text-decoration: none;
    color: #007bff; /* Blue */
}

.home-link:hover {
    text-decoration: underline;
}
