.alert-generator-container {
    max-width: 90%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container {
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
    background-color: #007bff00;
}

.form-field {
    margin-bottom: 10px;
}

.form-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-field input,
.form-field select {
    justify-content: center;
    width: 300px;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.alert-generator-btn {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
}

.alert-generator-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.alerts-list ul {
    list-style-type: none;
    padding: 0;
}

.alerts-list li {
    padding: 1%;
    border-bottom: 1px solid #ddd;
}

.alerts-list h2 {
    padding-left: 1%;
}

.dark-mode .alert-generator-container {
    background-color: #333;
    color: #fff;
}