/* Dashboard.css */

.dashboard-container {
    padding: 20px;
    background-color: #f4f6f8;
    color: #333;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2em;
    color: #002855; /* Dark blue tone for a secure feel */
}

p {
    font-size: 1.1em;
    color: #555;
}

.dashboard-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.dashboard-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 40, 85, 0.15); /* Darker shadow for added depth */
    padding: 20px;
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    transition: transform 0.2s ease-in-out;
}

.dashboard-card:hover {
    transform: scale(1.05);
}

.card-icon {
    color: #002855;
    margin-bottom: 15px;
}

.dashboard-card h2 {
    margin: 0 0 10px;
    color: #002855;
}

.dashboard-card p {
    font-size: 1em;
    color: #444;
}

body.dark-mode h1{
    color: #f5f5f5;
}

.dark-mode .dashboard-container {
    background-color: #000;
    color: #f1f1f1;
}

.dark-mode .dashboard-card {
    background: #444;
    box-shadow: 0 2px 15px rgba(255, 255, 255, 0.15);
}

.dark-mode .card-icon {
    color: #f5f5f5;
}

.dark-mode .pp {
    color: #f5f5f5;
}

.dark-mode .dashboard-card h2 {
    color: #f5f5f5;
}

.dark-mode .dashboard-card p {
    color: #ddd;
}

